
body{
    font-family:"Verdana","Tahoma",sans-serif;
    font-size:8pt;
    background-image: url("images/background.png");
}
#nav{
    background-image: url("images/bannerbg.png");
}

#nav img{
    position: relative;
    left:25%;
}

#movie-name{
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px  #999999;
}

#content{
    width:800px;
    margin:auto;
    border:4px solid gray;
    border-radius:20px;
    display: flex;
    flex-direction:row;
    overflow: hidden;
    flex-wrap: wrap;
}

p>img{
    float:left;
    margin:0 5px 5px 0;
}
.rating{
    font-weight:bold;
    font-size: 48pt;
    position: relative;
    bottom:11px;
    color:red;
}
.review-container{
 width:550px;
}
.review-header{
    background-image:url("images/rbg.png");
    height:83px;
}

.comments{
   column-count: 2;
   margin-bottom: 8px;
}

.comment-div{
    width: 84%;
    margin:2% 0 2% 0;
    overflow: hidden;
}
.comment-box{
    background-color: #E8DC9B;
    border:2px solid gray;
    border-radius:10px;
    display:inline-block;
    padding:3px;
    width: 90%;
}
.detail-container{
  background-color:#A2B964;
  width:250px;
  
}
dl{
    padding:10pt;
}
dt{
    margin-top:18pt;
}

.pagination{
    width: 100%;
    text-align: center;
    background-color:#A2B964;
}

dd>ul>li{
    list-style: none;
}