body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

#container {
  height: 100vh;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgb(38, 143, 235);
  color: white;
  height: 5rem;
  padding: 0 15px 0 15px;
}

nav > div:first-child {
  font-size: 20pt;
}

nav > div {
  padding: 20px;
  border-right: 1px solid white;
}
.second {
  display: flex;
  width: 15%;
  justify-content: space-between;
  align-items: center;
  margin-left: 20%;
}

.sign-out {
  color: rgb(56, 54, 54);
  background-color: rgb(206, 224, 239);
  margin-left: 10px;
  border: none;
}

#content {
  margin: 25px 5% 0 5%;
  color: rgb(69, 69, 69);
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

form > div {
  width: 45%;
  margin: 10px 0 0 0;
}

input,
select {
  width: 100%;
  border-radius: 10px;
  border: 1px solid gray;
  height: 3rem;
  margin: 10px 0 0 0;
  padding-left: 10px;
}

input:focus {
  border: 2px solid rgb(27, 105, 206);
}

button {
  height: 3rem;
  border-radius: 10px;
  margin: 0 1rem 0 0;
  padding: 1rem;
}

#reset {
  background-color: white;
  border: 1px solid rgb(7, 50, 131);
}

#cancel {
  background-color: white;
  border: 1px solid rgb(214, 140, 29);
}

#save {
  background-color: white;
  border: 1px solid rgb(43, 217, 87);
}

.bottom{
    display:flex;
    justify-content: flex-end;
    width:100%;
    align-items: center;
    margin-top:2rem;
}