<!DOCTYPE html>
<html lang="en">
    <style>
        #footer{
            background-color: rgb(12, 55, 55);
            height:80px;
            width:100%;
            display:flex;
            justify-content:center;
            align-items: center;
        }
    </style>
    <footer>
        <div id="footer">
            <h1>Contact us</h1>
        </div>
    </body>
</html>